.container {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.counter {
  font-size: 60px;
  color: #fff;
  padding: 40px;
}
button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
}
